* {
  box-sizing: border-box;
}

#header, #footer {
  width: 100%; 
  text-align: center; 
  border-radius: 10px; 
}

#header {
  background: #a5c3c3; 
  color: black; 
  border-bottom: 5px solid #263535;
  padding: 10px;
}

#footer {
  clear: left;
  background:#a5c3c3;
  color: black; 
  border-bottom: 5px solid #263535;
  padding: 10px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

img {
  max-width: 200px;/*changed*/
  height: auto;
  border-radius: 10px;
  padding: 10px;
  float: none; /*changed*/
}

h1 {
  color: #000000;
}

#h2special {
    color: white;
    background-color:black ;
}

h4, p, ul {
    text-align: left;
}

section {
  display: -webkit-flex;
  display: flex;
}

.navbar {
    display: flex;
    flex-direction: column;/*added*/
    margin: 10px;
    padding: 10px;
    background-color: #a5c3c3;
}

.navbar a {
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #263535 /*added*/
}

.navbar a:hover { /*added*/
background-color: #263535; /*added*/
color: #a5c3c3; /*added*/
}

.navbar a:last-child {
  border-bottom: none;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.sidebar {
  max-width: 100%;/*changed from 30% to 100%*/
  background-color: #f1f1f1;
  padding: 20px;
  flex: 1 1 100%; /*added*/
}

.main {
  max-width: 100%;/*changed from 70% to 100%*/
  background-color: white;
  padding: 20px;
  flex: 1 1 100%; /*added*/
}

.container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column; /*added2*/
}

#footer {
  color: black;
}

.calendar-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px #ca5a5a1a;
    padding: 20px;
    max-width: 100%
}

th, td {
  border: 5px solid #a5c3c3;
  padding: 10px;   
  border-radius: 4px;
  text-align: center;
}

td.empty {
    background-color: #f9f9f9;
    visibility: hidden;
}
        
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery img {
  flex: 1 1 100%; 
  margin: 4px;
  max-width: 30%;
  height: auto;
}

.pdf-viewer {
    width: 100%;
}
    
iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

.media {
  border: 2px dotted #608ba8;
  display: flex;
  align-items: flex-start;
}

.media .content {
  flex: 1;
  padding: 5px;
  margin: 10px;
}
#travelimg {
  max-width: 70%;
  display: block;
}
